/* xs */
@media (max-width: 530px) {
    
    .container {
            padding: 10px 20px 20px 20px;
    }

    .profileName {
        font-size: 30px;
    }

    .profileBio {
        font-size: 25px;
    }

    .linkBox {
        width: 200px;
    }

    .icon {
        background-size: 20px;
    }

}